@model List<OnlineShop.Models.CartItem>
<li class="has-dropdown">

    <a class="mini-cart-shop-link" href="/gio-hang">
        <i class="fas fa-shopping-bag"></i>

        <span class="total-item-round">@Model.Count</span>
    </a>

    <!--====== Dropdown ======-->

    <span class="js-menu-toggle"></span>

    <!--====== End - Dropdown ======-->
</li>
